:root{
    
   --color-1: #473261;
   --color-2:#371561;
   --color-3:#A977E6;
   --color-4: #8131E0;
   --color-5: #6326AD;
   --color-6: #818181;
   --color-7: #919191;
   --radius-default : 4px;
   --padding-default: 10px 15px;   
}