
body{
    background-color: var(--color-1);
    color: var(--color-7);
}
h1{
    font-size: 20px;
    font-weight: 500;
}
.container{
    max-width: 1024px;
    padding: var(--padding-default);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calculator{
    width: 350px;
    height: 300px;
    background-color: var(--color-4);
    padding: var(--padding-default);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--radius-default);
}

.calculator__result{
    background-color:rgba(255, 255, 255, 0.873);
    width: 100%;
    height: 30px;
    border-radius: var(--radius-default);
    
}

table{
    padding: 15px 20px;        
    
}

table tr{
    margin-top: 10px;
}

.botao{
    width: 50px;
    padding: var(--padding-default);
    background-color: var(--color-5);
    color: var(--color-7);
    font-weight: 800;   
    border-radius: var(--radius-default);
    margin: 5px;
    border: none;
    
}

.botao:hover{
    background-color: var(--color-1);

}

.botao__numero{
    background-color: var(--color-2);
}

.botao__operacao{
    background-color: var(--color-1);
}

.botao__operacao:hover{
    background-color: var(--color-2);
}



.botao__numero:hover{
    background-color: var(--color-1);
}

















footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;  

}
.profile__image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a{
    color: white;
    cursor: pointer;
}