
body{
    background-color: var(--color-1);
    color: var(--color-7);
}
h1{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    
}
.container{
    max-width: 1024px;
    padding: var(--padding-default);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.calculator{
    width: 700px;
    height: 600px;
    background-color: var(--color-4);   
    display: flex;
    flex-direction: column;   
    border-radius: 15px;
   
}

.cabecalho{
    width: 100%;
    height: 100px;  
    padding: 5px;   
    background-color: black;
    border-radius: 15px 15px 0 0; 
}

.numeros{
    display: flex;
    align-items: center;  
    width: 100%;
    gap: 10px;

}

 input{
    width: 50%;
    border: none;
}

input:focus{
    border: 2px solid rgba(30, 239, 30, 0.515);
}

.primeiroNum{
    display: flex;
    font-size: 14px;
    justify-items: center;
    gap:10px;
    align-items: center;

}

.segundoNum{
    display: flex;
    font-size: 14px;
    justify-items: center;
    gap:10px;
    align-items: center;

}

button{
    background-color: rgba(30, 239, 30, 0.515);
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
table{
    width: 95%;
    margin-top: 10px;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
}
table td{
    border: 1px solid #0e021c;
    padding: 5px;
    height: 70px;
    color: rgb(154, 129, 243);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;      
}

table p{
    line-height: 200%;
    margin-top: 20px;

}

footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;  

}
.profile__image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a{
    color: white;
    cursor: pointer;
}